<div class="file-item-container">

  <div class="file"
       [ngClass]="{'clicked': toggleTile}"
       fileHighlight
       matTooltip="Right click to perform actions! &#13; &#13; Last modified:&#13; {{file.modifiedTime | date:'MMM d, y' }}"
       matTooltipPosition="below"
       [matTooltipClass]="'file-tooltip'"
       (dblclick)="onFileSelected(file)"
       (contextmenu)="onFileMenuOpened($event)">
    <img [src]="file.iconLink" alt="File image"/>
    <span *ngIf="file?.name"
          class="file-name">{{ file.name.length > 40 ? (file.name | slice:0:40).concat("...") : file.name}}
    </span>
  </div>

  <div class="file-menu-container"
       [style.left]="fileMenuPosition.x"
       [style.top]="fileMenuPosition.y"
       [matMenuTriggerFor]="fileMenuTemplate">
  </div>

  <mat-menu #fileMenuTemplate="matMenu" class="file-item-menu">
    <div (mouseleave)="mouseLeaveMenu()">
      <ng-template matMenuContent>
        <button mat-menu-item (click)="openInNewTab(file.webViewLink)">
          <mat-icon class="menu-item-icon">tab</mat-icon>
          <span>Open link in new tab</span>
        </button>
        <button *ngIf="file.webContentLink" mat-menu-item (click)="downloadFile(file.webContentLink)">
          <mat-icon>download</mat-icon>
          <span>Download</span>
        </button>
        <button mat-menu-item (click)="renameFile()">
          <mat-icon>drive_file_rename_outline</mat-icon>
          <span>Rename</span>
        </button>
        <button mat-menu-item (click)="onFileDuplicated()">
          <mat-icon>file_copy</mat-icon>
          <span>Make copy</span>
        </button>
        <button mat-menu-item (click)="editFileLinks()">
          <mat-icon>link</mat-icon>
          <span>Edit link(s)</span>
        </button>
        <button mat-menu-item (click)="onFileDeleted()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </ng-template>
    </div>
  </mat-menu>
</div>

