@import 'src/styles.scss';

:host,
.file-explorer-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

:host {

}
.file-explorer-content {
  overflow: auto;
}
.footer {
  display:flex;
  bottom: 0;
  width: 100%;
  background-color: $file-explorer-color-1;

  .social > a img {
    width: 32px;
    height:auto;  }

  /*

  .file-explorer-content {

  }
  */


}




